/*summary*/

/*    fonts     l11 */
/*    colors    l15 */
/*    css properties for the entire document  l20 */
/*    Mobile version  l58 */
/*    Tablet version  l476  */
/*    Desktop version l549  */


/*fonts*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*colors
blue                #0065FC
light blue          #DEEBFF
grey                #F2F2F2 */

/*    css properties for the entire document  */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.stars {
  display: flex;
}

.blue {
  color: #0065fc;
}

.grey {
  color: rgba(0, 0, 0, 0.109);
}

article {
  box-shadow: 0.3px 0.5px 1px rgba(0, 0, 0, 0.05),
              2px 4px 8px rgba(0, 0, 0, 0.1) ;
}

/****************/
/*Mobile Version*/
/****************/

/********/
/*header*/
/********/

header {
  position: relative;
}

#enterprise-logo {
  margin: 20px 0 25px 20px;
}

#register {
  color: #0065fc;
  position: absolute;
  top: 20px;
  right: 20px;
}

ul {
  display: flex;
  width: 100%;
}

ul li {
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
}

ul li {
  border-bottom: solid 5px #f2f2f2;
}

ul li:hover {
  border-bottom: solid #0065fc 5px;
}

ul li a:hover {
  color: #0065fc;
}

/*accomodation link in blue at the start*/
ul li:nth-child(1) a {
  color: #0065fc;
}

ul li:nth-child(1) {
  border-bottom: #0065fc solid 5px;
}

/***********************************/
/*Search and city choice section*/
/***********************************/

#search {
  padding: 30px 20px 20px 20px;
}

/*title and paragraph*/

#search h3 {
  padding-bottom: 10px;
}

#search div:nth-child(1) p {
  padding-bottom: 10px;
}

/*search bar*/

#search-input {
  padding: 10px 0;
  display: flex;
}

#search-input input {
  outline: none;
}

#map-marker {
  background-color: #f2f2f2;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 15px 0 0 15px;
}

#map-marker::before {
  position: absolute;
  left: 19px;
  top: 17px;
}

#city-choice {
  border-left: none;
  border-right: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  width: 180px;
  padding-left: 8px;
}

#city-choice::placeholder {
  font-weight: bold;
  color: black;
  opacity: 1;
  font-size: 16px;
}

/*search button*/

#search-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #0065fc;
  border-radius: 15px;
  transform: translateX(-25px);
}

#search div:nth-child(2) button i {
  color: white;
}

#search-button span {
  display: none;
  font-weight: bold;
  font-size: 16px;
}

/*filter part*/

/*title*/
#filter h4 {
  padding: 10px 0 15px 0;
}

.choice a {
  display: flex;
}

.choice a p {
  border: solid #f2f2f2 3.5px;
  padding: 9.5px 15px 9.5px 35px;
  border-left: none;
  transform: translateX(-25px);
  border-radius: 0 25px 25px 0;
  margin-bottom: 10px;
  z-index: 0;
  font-weight: bold;
  height: 50px;
}

.icon {
  color: #0065fc;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #deebff;
  display: flex;
  z-index: 1;
}

.icon::before {
  align-items: center;
  margin: auto;
}

#options {
  display: flex;
  flex-wrap: wrap;
}

/*information icone*/

#information-icon {
  display: flex;
  margin-top: 15px;
}

#information-icon i::before {
  font-size: 0.8rem;
  text-align:center;
}

.icon-i {
  color: #0065fc;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  border: #f2f2f2 solid 1px;
  flex-direction: column;
  justify-content: center;
}

#information-icon div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
}

#information-icon p {
  padding-left: 15px;
}

/**************************************/
/*Accomodation section*/
/**************************************/

/*Popular div*/

#accomodation {
  display: flex;
  flex-direction: column-reverse;
}

#popular {
  background-color: #f2f2f281;
  padding: 30px 20px 30px 20px;
}

/*Popular title*/

#popular-title {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

#popular div i {
  display: flex;
  align-items: center;
}

/*Popular article*/

#popular article {
  background-color: white;
  border-radius: 25px;
  max-width: 400px;
  margin: 7.5px auto;
}

#popular article a {
  display: flex;
  width: 100%;
}

/*Popular images */

.popular-img {
  width: 40%;
  height: 150px;
}

.popular-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px 0 0 25px;
  padding: 5px 0 5px 5px;
}

/* Popular text */
.popular-text {
  width: 60%;
  height: 150px;
  padding: 15px 15px 5px 15px;
  display: grid;
}

/*Accomodation-marseille div */

#accomodation-part {
  background-color: #f2f2f281;
  padding: 30px 20px 30px 20px;
}

#accomodation-part article {
  background-color: white;
  max-width: 400px;
}

/*Accomodation title */

#accomodation-title {
  margin: 20px 0;
  width: 100%;
}

/* Accomodation article  */

#marseille-accomodation article {
  border-radius: 25px;
  margin: auto;
}

#marseille-accomodation article a {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

/*Accomodation images*/

.accomodation-img {
  width: 100%;
  height: 150px;
}

.accomodation-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px 25px 0 0 ;
  padding: 5px 5px 0 5px;
}

/* Accomodation text article*/

.accomodation-content {
  padding: 10px 15px 10px 15px;
}
.accomodation-content h4,
.accomodation-content p {
  padding-bottom: 10px;
}



/* Show more link */

#show-more-link {
  font-weight: bold;
  padding: 20px 0 20px 0;
}

/*****************************************/
/* Activities section */
/****************************************/

#activities {
  background-color: #f2f2f281;
  padding: 30px 20px 30px 20px;
}

/*activities title*/

#section-activities-title {
  margin: 20px 0;
  width: 100%;
}

/* activités article*/

#marseille-activities article {
  border-radius: 25px;
  background-color: white;
  max-width: 400px;
  margin: auto;
}

#marseille-activities article a {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

/* activities images*/

.img-activities {
  width: 100%;
  height: 150px;
}

.img-activities img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

/* activities texte*/

.text-activities {
  padding: 15px;
}

/*******************************/
/* FOOTER */
/*******************************/

footer {
  background-color: #f2f2f2;
  padding: 30px 20px 30px 20px;
}

footer div {
  padding-bottom: 30px;
}

footer h4 {
  padding: 20px 0 20px 0;
}

/***************************/
/* MEDIA QUERIES */
/***************************/

/*tablet version*/

@media screen and (min-width: 768px) and (max-width: 1229px) {
  /*Search section*/
  #options {
    display: flex;
    flex-wrap: wrap;
  }

  .choice {
    padding-right: 0;
  }

  /*Accomodation section */

  #accomodation {
    display: flex;
    flex-direction: column;
  }

  #marseille-accomodation,
  #marseille-popular {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  #marseille-accomodation article {
    margin-bottom: 25px;
  }

  #popular article {
    margin-bottom: 15px;
  }
  #marseille-accomodation article a,
  #popular article a {
    width: 300px;
    margin-bottom: 0;
  }

  /*Activities section*/

  #activities {
    display: flex;
    flex-direction: column;
  }

  #marseille-activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #marseille-activities article {
    margin-bottom: 25px;
  }
  #marseille-activities article a {
    width: 300px;
  }
}

/*Tablet version footer*/

@media screen and (min-width: 1000px) {
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
}

/*****************/
/*Desktop version*/
/******************/

@media screen and (min-width: 1230px) {
  header,
  section {
    padding: 0 2%;
  }

  body {
      font-size:1.3rem;
  }
  /*header*/

  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  /*logo*/

  #enterprise-logo {
    width: 30%;
  }

  /*navigation menu*/

  nav {
    width: 40%;
    padding-top: 0;
  }

  .menu {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .menu ul {
    height: 100%;
    display: flex;
  }

  .menu li {
    border-bottom: none;
    padding: 1rem 0;
    border-top: transparent 5px solid;
    display: table;
  }

  .menu li:hover {
    border-bottom: none;
    border-top: solid 5px #0065fc;
  }
  .menu li a {
    width: 35%;
    display: table-cell;
    vertical-align: middle;
  }

  body header nav div ul li:nth-child(1) {
    border-bottom: none;
    border-top: solid 5px #0065fc;
  }

  /*Register link*/

  .menu div {
    display: table;
    width: 30%;
  }
  #register {
    position: inherit;
    text-align: center;
    padding: 1rem 0;
    border-top: transparent 5px solid;
    display: table-cell;
    vertical-align: middle;
  }

  /*Search section*/

  /*Search bar city choice*/

  #search {
    padding: 0 2% 2% 2%;
  }

  #search-button {
    width: 120px;
    border-radius: 0 25px 25px 0;
    transform: inherit;
  }

  #search-button i {
    display: none;
  }

  #search-button span {
    display: flex;
    color: white;
    justify-content: center;
  }

  #city-choice {
    width: 200px;
  }

  /*filter*/

  #filter {
    display: flex;
    margin: 2% 0;
  }

  #filter h4 {
    height: 50px;
    padding: 12.5px 35px 12.5px 0;
  }

  #filter-title {
    display: table;
  }

  #filter h4 {
      display: table-cell;
      vertical-align: middle;
  }

  .choice p:hover {
  color: #0065fc;
  background-color: #deebff;
  transition: 1s;
  border: #deebff solid 3.5px;
  border-left: none;
  }
  
  /*Accomodation section*/

  #accomodation {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
  }

  #accomodation article a {
    margin-bottom: 0;
  }
  /*accomodation*/

  #accomodation-part {
      width: 66%;
      border-radius: 25px;
      padding: 2%;
  }

  #marseille-accomodation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
  }

  #marseille-accomodation article {
    width: 90%;
    margin-bottom: 8%;
  }

  .accomodation-content h4 {
    height: 60px;
  }
  
  #accomodation-part > div:nth-child(3) {
    padding-top: 20px;
  }

  /*popular*/

  #popular {
    width: 32%;
    border-radius: 25px;
    padding: 2%;
  }

  #marseille-popular {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-bottom: 15%;
  }

  #marseille-popular article, #marseille-popular a {
    height: 200px;
  }

  .popular-img, .popular-img img, .popular-text {
    height: 200px;
  }

  .popular-text {
    grid-template-rows: 45% 35% 20%;
  }

  .stars {
    align-items: flex-end;
    padding-bottom: 10px;
  }

  /*Activities*/

  #activities {
    background-color: white;
    padding: 2%;
  }

  #marseille-activities {
    width: 100%;
    max-height: 600px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
    grid-template-rows: 1fr 1fr 35px 1fr 35px 1fr 1fr;
    grid-template-areas:  
    "a1 a2 a4 a5"
    "a1 a2 a4 a5"
    "a1 a2 a4  ."
    "a1 a2 a4 a6"
    "a1  . a4 a6"
    "a1 a3 a4 a6"
    "a1 a3 a4 a6";
  }

  #marseille-activities article {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }

  .img-activities {
    height: 100%;
    border: none;
  }

  .img-activities img {
    height: 95%;
  }

  .text-activities {
    height: 80px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    border: 2px solid #f2f2f2;
    border-top: none;
    border-radius: 0 0 25px 25px;
  }

  .a1 {
    grid-area: a1;
  } 

  .a2 {
    grid-area: a2;
  }

  .a3 {
    grid-area: a3;
  }

  .a4 {
    grid-area: a4;
  }

  .a5 {
    grid-area: a5;
  }

  .a6 {
    grid-area: a6;
  }

  /*FOOTER*/

  footer div {
    padding-top: 25px;
  }
}
